@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

	
	
	.container-side{
		width: 10%;
		/*max-width: 1200px;*/
		margin: auto; 
		margin-left: 70%;
	}
	.container-side .btn-menu, .logo-side{
		width: 80%;
		margin-right: 20px;
		line-height:0px;
		
	}
	.container-side .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	
	}
	.logo-side h1{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.container-side .menu{
		float: right;
		line-height: 100px;
	}
	.container-side .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container-side .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}


	/*Side menul*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background:  rgba(51, 51, 51, 0.529);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	
	
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 215px; 
		background:rgb(255, 255, 255);
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		font-size: large;
		font-weight: 500;
		text-decoration: none;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		color: rgb(9, 8, 54);
		border-style: solid;
		border-width: 1px;
		border-color: rgb(234, 234, 234);

		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #ffffff;
		cursor: pointer;
		font-size: 18px;
	}
	
