body {
  background-color: rgb(255, 255, 255);
}

#main {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-weight: 500;
  font-size: larger;
}



#get {
  display: flex;
  flex-direction:column;
  margin: auto;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  width:100%;
  border-radius: 5px;
  background-color: rgb(255, 198, 41);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(234, 234, 234);
  text-align: center;
}

.card-img {
  background-color: rgb(255, 255, 255);
  border-style: hidden;
  border-width: 0px;
  
}

.card-img img {
  max-width: 160px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 100%;
}


.card p {
  max-width: 150px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
  color: rgb(255, 255, 255);
}

.card h2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 24px;
  color: rgb(255, 255, 255);
}
.player-data{
  display:flex;
  flex-direction: row;
  width:400px;
  margin-left: 30px;
}
.player-data h2{
 width: 280px;
}
.player-data p{
  width: 70px;
 }
 
 .stats{
  display: flex;
  flex-direction: row;
  max-width:100%;

 }

.logo {
  max-width: 30px;
  max-height: 30px;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  
}

#season {
  display: flex;
  flex-direction: column;
  width: 81%;
  margin-left: auto;
  margin-right: auto;
 
}

#title {
  text-align: center;
  border-color: rgb(229, 229, 229);
  border-style: solid;
  border-width: 0.7px;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
}

#title h1 {
  font-size: 72px;

  
}

#matches {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  
}

#matches p {
  text-align: center;
}



.goals {
  display: flex;
  flex-direction: row;
  height: 100px;
  max-width: 100%;
  align-items: center;
  border-color: rgb(229, 229, 229);
  border-style: solid;
  border-width: 0.7px;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
}
.goals p {
  width: 15%;
height: 30px;
font-size: larger;
  margin-top: auto;
 margin-bottom: auto;
  border-color: rgb(229, 229, 229);
  border-style: solid;
  border-width: 0.7px;
  border-top: 1px;
  border-left: 1px;
  border-bottom: 1px;
}

.goals h2 {
margin-left: 2%;
margin-right: 2%;
  
}


.home {
  max-width: 120px;
  height: 60px;
  margin-left: 10%;
 margin-top: auto;
 margin-bottom: auto;
}



.away {
  max-width: 120px;
  height: 60px;
 margin-top: auto;
 margin-bottom: auto;
}

@media only screen and (max-width: 1024px) {
  /* For tablets: */
.card p{
  max-width:80px;
  margin-left:30px;
  font-size: medium;
}
.player-data{
  width: 240px;
 font-size: medium;
}

.logo{
  margin-left: 10px;
}
  
}

@media only screen and (max-width: 905px) {
  /* For tablets: */
.card p{
  max-width:60px;
  margin-left:15px;
  font-size: medium;
}

  
}
@media only screen and (max-width: 680px) {
  /* For tablets: */
  
.player-data{
  display: flex;
  flex-direction: column;
  min-width: 100px;
  margin-left: 0px;
  text-align: left;
}
.player-data h2{
  width: fit-content;
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: medium;
}
.player-data p{
  margin-top: 0px;
  margin-left: 0px;
  font-size: small;
}
.stats{
  display: none;
}
}