body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: larger;
}

#navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  background-color: rgb(9, 8, 54);
}

#navbar-logo {
  display: flex;
  flex-direction: row;
  width: 15%;
  height: 90%;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
#navbar-logo img{
  width:80px; 
  height:80px;
}

#navbar-logo:hover {
  background-color: rgb(15, 14, 88);
  box-shadow: 0 10px 0 0 rgb(255, 193, 21);
  cursor: pointer;
}


#navbar-links {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  align-items: center;
  margin-right: auto;
}

.navbar-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  margin-right: 20px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.navbar-link a {
  width: 100%;
  height: 100%;
  transform: translateY(35%);
  font-weight: 600;
  font-size: medium;
  color: rgb(255, 255, 255);
  text-decoration: none;

}

.navbar-link:hover {
  background-color: rgb(15, 14, 88);
  box-shadow: 0 10px 0 0 rgb(255, 193, 21);
  /* Border bottom */
  cursor: pointer;
}

.container-side {
  display: none;
}

#main {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(234, 234, 234);
  background-color: rgb(255, 255, 255);
  color: rgb(87, 87, 87);
}

.title {
  width: 100%;
  height: 150px;
  margin-bottom: 44px;
  padding-top: 44px;

  text-align: center;
  justify-items: center;
  border-color: rgb(229, 229, 229);
  border-style: solid;
  border-width: 0.7px;
  border-bottom: 1px;
  border-right: 1px;
  border-left: 1px;
  background-color: rgb(255, 255, 255);
}

.title h1 {
  margin-left: auto;
  margin-right: auto;
  
  font-size: 77px;
  background: linear-gradient(120deg, rgb(98, 56, 133) 40%, rgb(233, 70, 70) 60%, rgb(224, 76, 76) 92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Catalonia.svg/2000px-Flag_of_Catalonia.svg.png");
}

.image-container-intro {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.image-container-intro img {
  max-width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 3px;
}

.text-container-intro {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  background-color: white;
}

.text-container-intro h1 {
  font-size: 72px;
  text-align: center;
  background: linear-gradient(120deg, rgb(50, 39, 206) 40%, rgb(255, 52, 52) 77%, rgb(228, 20, 20) 92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.text-container-intro p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}



#history {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.container-history {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(234, 234, 234);


}

.image-container-history {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 10px;


}

.image-container-history img {
  max-width: 700px;
  width: 100%;
  height: 80%;
  margin: auto;
  padding-top: 22px;
  border-radius: 3px;

}

.text-container-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: justify;

}

.text-container-history h1 {
  font-size: x-large;
  text-align: center;
  background: linear-gradient(120deg, rgb(50, 39, 206) 40%, rgb(255, 52, 52) 77%, rgb(228, 20, 20) 92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-container-history p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

.image-container {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.image-container img {
  width: 70%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

}

.text-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
  margin-bottom: 44px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: justify;
  background-color: rgb(255, 255, 255);
}

.text-container h1 {
  font-size: x-large;
  text-align: center;
}

.text-container p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.row h1 {
  text-align: center;
}

.trophy {
  width: 20%;
  margin-top: 44px;
  border-style: solid;
  padding-bottom: 44px;
  border-width: 1px;
  border-color: rgb(234, 234, 234);
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 60px 30px -30px;
}

.trophy img {
  width: 80%;
  margin-top: 10px;
}

.trophy p {
  font-size: medium;
}

.trophy h2 {
  height: 80px;
  background: linear-gradient(120deg, rgb(98, 56, 133) 40%, rgb(233, 70, 70) 60%, rgb(224, 76, 76) 92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-list {
  width: 100%;
  height: 150px;
  margin-bottom: 44px;
  text-align: center;
  justify-items: center;
  background-color: rgb(255, 255, 255);
}

.title-list h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 77px;
  background: linear-gradient(120deg, rgb(98, 56, 133) 40%, rgb(233, 70, 70) 60%, rgb(224, 76, 76) 92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

#image-container-messi {
  display: flex;
  max-width: 100%;
  width: 100%;
  
}

#image-container-messi img {
  width: 100%;
  height: 900px;

  margin-left: auto;
  margin-right: auto;
}

#image-container-title {
  display: flex;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#image-container-title img {
  width: 95%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.list-messi {
  
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 44px;
  text-align: left;
}

.list-messi h1 {
  width: fit-content;
}
.list-messi p{
  font-size: larger;
 font-weight: 600; 
}


#get {
  display: flex;
  flex-direction: column;
  margin-right: 44px;
  margin-left: 44px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(192, 190, 190);
  text-align: left;

}

.card-img img {
-width: 120px;

  height: 120px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.card p {
  max-width: 130px;
  width: 100%;
  margin-left: 15px;
  margin-top: 50px;
  margin-bottom: auto;
  font-size: large;
  font-weight: 300;
  color: rgb(46, 44, 44);

}

.card h2 {
  max-width: 280px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 24px;
  background: linear-gradient(120deg, rgb(98, 56, 133) 40%, rgb(233, 70, 70) 60%, rgb(224, 76, 76) 92%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player-data {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  width: 100%;
}


.stats {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  width: 100%;
}



.logo {
  max-width: 30px;
  max-height: 30px;
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

#season {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-color: rgb(255, 255, 255);
}

#matches {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 100px;
}

#matches p {
  text-align: center;
}

.goals {
  display: flex;
  flex-direction: row;
  height: 100px;
  max-width: 100%;
  align-items: center;
  border-color: rgb(229, 229, 229);
  border-style: solid;
  border-width: 0.7px;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
}

.goals p {
  width: 15%;
  height: 30px;
  font-size: larger;
  margin-top: auto;
  margin-bottom: auto;
  border-color: rgb(229, 229, 229);
  border-style: solid;
  border-width: 0.7px;
  border-top: 1px;
  border-left: 1px;
  border-bottom: 1px;
}

.goals h2 {
  margin-left: 2%;
  margin-right: 2%;
}

.home {
  max-width: 120px;
  height: 60px;
  margin-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
}

.away {
  max-width: 120px;
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

#footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  border: #090836;
  border-style: solid;
  border-right: 2px;
  background-color: #090836;
}

#footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#footer-container-social {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content:space-between;
}
#footer-container-social i {
  max-width:100px;
  width:100%;
  color: #ffffff;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-right: 29px;
  max-width: 220px;
  width: 100%;
  height: 100%;
  text-align: left;
}
.footer-column img {
  width: 120px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
}
.footer-column h3 {
  color: white;
  height: 30px;
}

.footer-column a {
  width: 100%;
  margin-top: 10px;
  color: white;
  text-decoration: none;

}

.footer-column a:hover {
  color: rgb(255, 193, 21);


}


@media only screen and (max-width: 1150px) {

  .image-container-history img {
   
    height: 60%;
   
  
  }
 .row h2{
  font-size: large;
 }
  .card p {
    max-width: 80px;
    width: 100%;
  }

  .player-data p {
    font-size: medium;
  }
  .stats p{
    font-size: small;
  }

  .logo {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 905px) {

  /* For tablets: */
  .card h2 {
    margin-left: 0px;
    width: 100px;
    font-size: medium;
  }

  .card p {
    max-width: 60px;
    width: 100%;
    margin-left: 15px;
  }
 .player-data{
  width:250px;
 }
  .logo{
   margin-left: 20px;
   margin-right: 0px;
  }
 
}
@media only screen and (max-width: 768px) {
  /* For tablets: */  
   
  #navbar-links{
    display: none;
  }
 
.container-side{
  display:flex;
}
.container-history{
  flex-direction: column;
}
#footer{
  height: fit-content;
  padding-bottom: 20px;
}
#footer-container{
display: grid;
grid-template-columns: auto auto auto;
}
#footer h3{
  font-size: medium;
}
#footer a{
font-size: small;
}
#footer-logo{
  display: none;
}
.right{
  margin-left: 100%;
}
}
@media only screen and (max-width: 730px) {
  /* For tablets: */

  .card p {
    max-width: 60px;
    margin-left: 10px;
    font-size: small;
  }
 
  
  
}

@media only screen and (max-width: 680px) {
  /* For tablets: */
  .title h1{
    font-size: 50px;
  }
  #title-history h1{
    font-size: 50px;
  }
  .row{
    flex-direction: column;
  }
  #image-container-title img{
  height: 400px;
  }
  .trophy{
    width: 100%;
    height: 600px;
    margin-top: auto;
   
  }
  #image-container-messi img{
     height: 600px;
  }
  .title-list h1{
    font-size: 50px;
  }
  .list-messi{
    font-size: medium;
  }
  .player-data {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    margin-left: 0px;
    text-align: left;
  }

  .player-data h2 {
    width: fit-content;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: medium;
  }

  .player-data p {
    margin-top: 0px;
    margin-left: 0px;
    font-size: small;
  }

  .stats {
    display: none;
  }
}




  @media only screen and (max-width: 425px) {
    #navbar-logo img{
    margin-left: 15px;
    }
  
    #main h1{
       font-size: 30px;     
      }
      .title {
      
        height: 20px;
        
      }
      #image-container-title img{
        height: 200px;
        }
        .trophy{
          width: 100%;
          height: 400px;
          margin: auto;
        }
        .title-list {
          
          height: 20px;
         
        }
        #image-container-messi img{
          height: 400px;
       }
      .list-messi{
        width: 230px;
        font-size: small;
        }
        #matches p{
          font-size: medium;
        }
        .right{
          margin-left: 0%;
        }
        .footer-column {
          margin-right: 10px;
          
        }
    }
 
     


@media only screen and (max-width: 320px) {
#main{
  padding-right: 5px;
  padding-left: 5px;
  }
  #footer {
   padding: 5px;
  }
}
 
